
body {
    font-family: "Montserrat";
}

#title {
    background-color: #242F9B;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15%;
}

.crypto {
    transform: rotate(25deg);
    width: 60%;
    margin-top: 40px;
}

.navbar {
    padding-bottom: 2.5rem;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.download-button {
    margin: 5% 3% 5% 0;
}

#features {
    padding: 7% 15%;
}

.icon {
    color: #064ACB;
    margin-bottom: 1rem;
}

.icon:hover{
    color : #242F9B;
}


.feature-box {
    text-align: center;
    padding: 5%;
}

/* testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #064ACB;
    color: #fff;
}